main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#add, #equal {
    grid-column: span 3;
}