body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: gold;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
h1 ~ #p1{
    font-weight: bolder;
}
#p1{
    color: aliceblue !important;
    font-size: 25px;
    text-align: center;
}
li{
    color: gold;
    font-size: 20px;
    
    
    font-size: small;
    text-decoration: none;
}
th{
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: rgb(199, 198, 198);
}
td{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 253, 253);
}
