
/*Cor do fundo*/
body{
    background-color: rgb(192, 161, 116);
    margin: 0;
    padding: 0;
}
/*Introdução*/
.intro{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3e/Americo-ava%C3%AD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  background-position: center 40%;
  margin-top: 0%;
}

/*Titulo "Napoleao Bonaparte"*/

h1{
    font-size: 60px;  
    font-family: 'Cinzel', serif;
}

/*Primeiro Paragrafo*/

#p1{
    font-size: 30px;
}

/*Imagem napoleao lado esquerdo*/

#napoleao1{
    border-radius: 25px;
    height: 300px;
    width: 250px;
}
#napoleao2{
    border-radius: 25px;
    height: 300px;
    width: 250px;
}

/*Paragrafos e textos de tabela*/

p{
    font-size: 20px;
}
#p3{
    color: rgb(0, 0, 0);
    margin: 20px;
}
table{
    border: solid rgba(255, 255, 255, 0);
    border-radius: 25px;
}
th{
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: rgb(114, 35, 35);
    color: white;
    padding: 10px;
}
td{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 253, 253);
    padding: 10px;
}
#paragrafo{
    border: solid rgb(114, 35, 35);
    border-radius: 20px;
    padding: 10px;
    color: black;
}

/*Grid com imagens e tabela*/
.container{
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    gap: 10px;
    margin: 30px;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}


/*Suporte video*/
h2{
    text-align: center;
    font-size: 30px;
}
#video{
    display: flex;
    justify-content: center;
}


footer{
    text-align: center;
    color: black;
    font-style: italic;
}