nav{
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: rgb(114, 35, 35);
     height: 50px;
    margin-right: 70px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 15px;
    word-spacing: 20px;
}
#titulo{
    justify-content: start;
    font-size: 50px;
}
a{
    font-size: x-large;
    color: white;
    text-decoration: none;
}
a:hover {
  color: rgb(0, 0, 0);
}