body{
    background-color: rgb(192, 161, 116);
}
#img1{
    display: flex;
    justify-content: center;
}
#img2{
    border-radius: 25px;
    height: 200px;
}
#waterloo{
    display: flex;
    justify-content: center;
}
#img3{
    border-radius: 25px;
    height: 200px;
}
#revolução{
    display: flex;
    justify-content: center;
}
#napoleao1{
    border-radius: 25px;
    height: 400px;
}
h1{
    text-align: center;
    font-size: 50px;
}
#text{
    margin: 10px;
}
h2,h3,h4,h5{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
}