/*Inicio*/
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body{
    background-color: black;
}
/*Título da página*/
h1{
    color: yellow;
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
    font-size: 300%;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}
/*Filme*/
#hp{
    color: yellow;
    text-align: center;
    font-size: x-large;
}
/*Container-(Caracteristicas do Filme)*/
#container{
    display: grid;
    border: 3px solid yellow;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    grid-template-columns: 15% auto 15%;
}
/*Título - Principal*/
#título{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: rgb(0, 0, 0);
    border: 3px solid yellow;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
/*Parte lateral Esquerda*/
#lateral1{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
/*Parte lateral direita*/
#lateral2{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*Sinopse*/
#Sinopse{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
/*Elenco*/
#Elenco{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(90, 90, 90);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: center;
    padding: 20px;
}

/*Container2*/
/*Atores Principais*/
.container2{
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    height: 300px;
    border: 3px solid yellow;
    gap: 10px;
    padding: 20px;
}
/*Título*/
h2{
    color: yellow;
}
/*Containers de imagens*/
.item{
    width: 300px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
}
/*Imagem do Robin Williams*/
#imagem1{
    width: 120px;
}
/*Outras duas imagens*/
.imagem{
    height: 150px;
    width: 150px;
}
/*Personagem interpretado*/
p{
    color: rgb(0, 0, 0);
}
